<%= stylesheet_link_tag "bootstrap.css" %>


<div class="contract-background">
	<div class="row">
		<div class="span2 contract-nav">
			<ul class="nav nav-list">
				<li class="active">
					<a href="#">General</a>
				</li>
				<li>
					<a href="#">Emergency & Office Visits</a>
				</li>
			</ul>
		</div>
		<div class="span10 contract-form">
			hi
		</div>
	</div>
</div>
<img src="/assets/6_Contract_MainExpanded.jpg"/>